/*---RESET---*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,
samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video 
{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;}
body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}input,select{vertical-align:middle;}
del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
/*---GRID_SYSTEM---*/
.container{width:90%;margin-left:auto;margin-right:auto;}.row{position:relative;width:100%;}
.row [class^="col"]{float:left;min-height:0.125rem;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{width:100%;}
.col-1-sm{width:8.33;}.col-2-sm{width:16.66%;}.col-3-sm{width:25%;}.col-4-sm{width:33.33%;}
.col-5-sm{width:41.66%;}.col-6-sm{width:50%;}.col-7-sm{width:58.33%;}.col-8-sm{width:66.66;}
.col-9-sm{width:75%;}.col-10-sm{width:83.33%;}.col-11-sm{width:91.66%;}.col-12-sm{width:100%;}
.row::after{content:"";display:table;clear:both;}.hidden-sm{display:none;}
@media only screen and (min-width:560px){.container{width:80%;}}
@media only screen and (min-width:720px){.hidden-sm{display:block;}
.col-1{width:8.33%;}.col-2{width:16.66%;}.col-3{width:25%;}.col-4{width:33.33%;}
.col-5{width:41.66%;}.col-6{width:50%;}.col-7{width:58.33%;}.col-8{width:66.66%;}
.col-9{width:75%;}.col-10{width:83.33%;}.col-11{width:91.66%;}.col-12{width:100%;}}
@media only screen and (min-width:960px){.container{width:75%;max-width:960px;}}